body { margin:0 auto; background-color:#32354d;}
.contents{ width:100%;  line-height:1.5em;  color:#1d1d26; background-color:#f5f5f6;}
.contents table tr th { padding-left:1.5em;  padding-right:1.5em; padding-top:0.5em; padding-bottom:0.5em; background-color:#fae504; text-align:left;}
.contents table tr td { padding:1.5em; font-size:0.9em; }
.contents .contents_Keyword   { width:100%; font-size:0.9em; font-weight:bolder; color:#000000; }
.contents .contents_Keyword_I { width:100%; font-size:0.9em; font-weight:bolder; color:#29cf04; }
.contents .contents_Keyword_D { width:100%; font-size:0.9em; font-weight:bolder; color:#ff6d2a; }
.contents .contents_Keyword_E { width:100%; font-size:0.9em; font-weight:bolder; color:#933ff2; }
.contents .contents_Keyword_A { width:100%; font-size:0.9em; font-weight:bolder; color:#079ae8; }
.contents .contents_Keyword_M { width:100%; font-size:0.9em; font-weight:bolder; color:#32354d; background-color:#fae504;}