
body { margin:0 auto; }
.contents{ width:100%;  line-height:1.5em; margin:0em; color:#1d1d26; background-color:#f5f5f6;}
.contents table tr th { padding-left:1.5em;  padding-right:1.5em; padding-top:0.5em; padding-bottom:0.5em; }
.contents table tr td { padding:1.5em; font-size:0.8em;}
.contents .contents_Keyword_I { width:100%; font-size:0.9em; font-weight:bolder; color:#29cf04; background-color:#ffffff;}
.contents .contents_Keyword_D { width:100%; font-size:0.9em; font-weight:bolder; color:#ff6d2a; background-color:#ffffff;}
.contents .contents_Keyword_E { width:100%; font-size:0.9em; font-weight:bolder; color:#933ff2; background-color:#ffffff;}
.contents .contents_Keyword_A { width:100%; font-size:0.9em; font-weight:bolder; color:#079ae8; background-color:#ffffff;}