<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.people_grame.app"
    android:versionCode="1"
    android:versionName="0.01">


    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 주소록 READ 권한 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 네트워크 확인 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 카메라 사용권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <user-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyQuestion_Activity"
            android:label="질문지" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="로그인" >
        </activity>
        <activity android:name=".MemberJoin_Activity" >
        </activity>
        <activity android:name=".MyType_Activity" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:allowBackup="true" >
        </activity>
        <activity android:name=".Setting_NoticeActivity" >
        </activity>
        <activity android:name=".Setting_QuestionActivity" >
        </activity>
        <activity android:name=".NoticeActivity" >
        </activity>
        <activity android:name=".Setting_UserAgreeActivity" >
        </activity>
        <activity android:name=".Setting_UserInfoActivity" >
        </activity>
        <activity android:name=".MyType_Result_Activity" >
        </activity>
        <activity
            android:name=".SubPeopleListPopup_Activity"
            android:theme="@style/TransparentTheme" >
        </activity>
        <activity android:name=".SubPeopleListSelect_Activity" >
        </activity>
        <activity android:name=".YouType_Actvity_step1" >
        </activity>
        <activity android:name=".YouType_Activity_step2" >
        </activity>
        <activity android:name=".YouType_Activity" >
        </activity>
        <activity android:name=".MyFilling" >
        </activity>
        <activity android:name=".MyFilling_Comment_Activity" >
        </activity>
        <activity android:name=".MyNowAcitivity" >
        </activity>
        <activity android:name=".HaveWriteActivity" >
        </activity>
        <activity android:name=".SubQnaActivity" >
        </activity>
        <activity android:name=".SubQnaWriteActivity" >
        </activity>
        <activity
            android:name=".SubPeopleContents_Activity"
            android:label="@string/title_activity_sub_people_contents_" >
        </activity>
    </application>

</manifest>
