<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.people_gram.app"
    android:versionCode="26"
    android:versionName="1.1.14" >

    <!-- 결제 권한 -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 주소록 READ 권한 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 네트워크 확인 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 카메라 사용권한 -->
    <!--
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    -->


    <!-- GCM 등록 권한 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <!-- 진동 권한 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- SD카드 READ 권한 -->
    <user-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="net.saltfactory.demo.gcm" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <receiver
            android:name=".ConnReceiver"
            android:enabled="true"
            android:priority="0" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- [START gcm_listener_service] -->
        <service
            android:name=".MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener_service] -->


        <!-- [START instanceId_listener_service] -->
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener_service] -->


        <!-- [START gcm_registration_service] -->
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" />
        <!-- [END gcm_registration_service] -->

        <activity
            android:name=".LogoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyQuestion_Activity"
            android:label="질문지"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyQuestionRe_Activity"
            android:label="질문지"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="로그인"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MemberJoin_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyType_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Setting_NoticeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Setting_QuestionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NoticeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Setting_UserAgreeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Setting_UserInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyType_Result_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SubPeopleListPopup_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" >
        </activity>
        <activity
            android:name=".SubPeopleListSelect_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".YouType_Actvity_step1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".YouType_Activity_step2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".YouType_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyFilling"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyFilling_Comment_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyNowAcitivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HaveWriteActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SubQnaActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SubQnaWriteActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SubPeopleContents_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ProfileDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SubMyType_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SubGramPoint"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".PeopleSync_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PeopleSyncSelect_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SubGramHistory"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GramPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" >
        </activity>
        <activity
            android:name=".GramPopupNotActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" >
        </activity>
        <activity
            android:name=".KakaoLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".GramPopupMyTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" >
        </activity>
        <activity
            android:name=".SubMyTypeContents_Activity"
            android:label="@string/title_activity_sub_my_type_contents_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SubPeopleTypeContents_Activity"
            android:label="@string/title_activity_sub_people_type_contents_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SubPeopleContentsType_Activity"
            android:label="@string/title_activity_sub_people_contents_type_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SubPeopleSelect_TipActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SubPeopleSearch_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" >
        </activity>
        <activity
            android:name=".PanelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".People_Help_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" >
        </activity>
        <activity
            android:name=".MemberJoinStep1_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MemberJoinStep2_Activity"
            android:label="@string/title_activity_member_join_step2_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MemberJoinStep3_Activity"
            android:label="@string/title_activity_member_join_step3_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MemberJoinStep4_Activity"
            android:label="@string/title_activity_member_join_step4_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MemberJoinStep5_Activity"
            android:label="@string/title_activity_member_join_step5_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MemberJoinStep6_Activity"
            android:label="@string/title_activity_member_join_step6_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MemberJoinStep7_Activity"
            android:label="@string/title_activity_member_join_step7_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MemberComplate_Activity"
            android:label="@string/title_activity_member_complate_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MyType_Complate_Activity"
            android:label="@string/title_activity_my_type__complate_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MyProfile_Activity"
            android:label="@string/title_activity_my_profile_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".YouType_Complate_Activity"
            android:label="@string/title_activity_you_type__complate_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SubMyPagePeopleSync_Activity"
            android:label="@string/title_activity_sub_my_page_people_sync_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SubMyPagePeopleHide_Activity"
            android:label="@string/title_activity_sub_my_page_people_hide_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".PanelJoinActivity"
            android:label="@string/title_activity_panel_join"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".GroupWriteActivity"
            android:label="@string/title_activity_group_write"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SubGroupDetailView_Activity"
            android:label="@string/title_activity_sub_group_detail_view_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SubMypage_PeopleList_Activity"
            android:label="@string/title_activity_sub_mypage__people_list_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".KeyHash"
            android:label="@string/title_activity_key_hash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".KakaoSignupActivity"
            android:label="@string/title_activity_kakao_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".KakaoServiceListActivity"
            android:label="@string/title_activity_kakao_service_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".KakaoLinkMainActivity"
            android:label="@string/title_activity_kakao_link_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".PeopleMatchTop10_Activity"
            android:label="@string/title_activity_people_match_top10_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Guide_Activity"
            android:label="@string/title_activity_guide_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Payment_Activity"
            android:label="@string/title_activity_payment_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".GroupPeopleWriteActivity"
            android:label="@string/title_activity_group_people_write"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".GuideActivityStep1"
            android:label="@string/title_activity_guide_activity_step1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SubQnaViewActivity"
            android:label="@string/title_activity_sub_qna_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".NoticeViewActivity"
            android:label="@string/title_activity_notice_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".free_point"
            android:label="@string/title_activity_free_point" >
        </activity>
        <activity
            android:name=".PointFreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".PointFreePanelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SurveyViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" >
        </activity>
        <activity
            android:name=".SurveyStartActivity"
            android:label="@string/title_activity_survey_start"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SurveyComplateActivity"
            android:label="@string/title_activity_survey_complate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SubTypeFragment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SubMyDrop_Activity"
            android:label="@string/title_activity_sub_my_drop_"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".KakaoMsgActivity"
            android:label="@string/title_activity_kakao_msg"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
